.sidebar {
    height: 100%;
    background-color: #363062;
    transition: width 0.3s ease-out;

    .ant-menu {
        background: none;
    }

    .ant-menu-item-selected {
        background-color: #818fb4;
    }

    .ant-menu-sub.ant-menu-inline {
        background: none !important;
    }

    .sidebar-logo {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 40px;
        padding-right: 20px;

        .sidebar-logo-image {
            height: 150px;
            transition: width 0.3s ease-out;
            transform: translateY(-20%);
        }
    }
}
