.reviewLayout {
    max-width: 100%;
    padding: 10px;
    border: solid 1px #f0f0f0;
    border-radius: 5px;

    h5 {
        margin: 0;
    }
    .ant-divider-horizontal {
        margin: 10px 0;
    }

    .ant-btn {
        margin-top: 0;
    }
}
