.checkoutItemLayout {
    border: dashed 1px gray;
    border-radius: 5px;
    padding: 5px;

    .checkoutItemService {
        width: 100%;
        &__id {
            width: 10%;
            text-align: center;
        }

        &__name {
            width: 50%;
            text-align: start;
        }
        &__price {
            width: 20%;
        }
        &__btn {
            width: 20%;
        }
    }
}
