.home-page {
    padding: 0;
    width: 100vw;
    .carousel {
        padding: 0;
    }

    .home-page-content {
        &-item {
            &-title {
            }

            &-child {
                display: flex;
                column-gap: 50px;
                row-gap: 50px;
                flex-wrap: wrap;
            }
        }
    }
}

@media (max-width: 1200px) {
    .carousel {
        padding: 0 100px !important;
    }
}
