.introduce-services {
    padding: 20px 100px 50px;

    &-title {
        margin-top: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 50px;
    }

    &-content {
        display: flex;
        column-gap: 30px;
        row-gap: 30px;

        .card-title {
            text-align: center;
            font-weight: 700;
            font-size: 17px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .card-value {
            .footer-card {
                display: flex;
                column-gap: 10px;
                .button-card-service,
                .button-card-service-set {
                    background-color: white;
                    border: 1px solid #b1154a;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .button-card-service-set {
                    background-color: rgb(204 32 32);
                }
            }
        }
    }

    .introduce-services-content {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
}
