.public {
    width: 100vw;
    overflow-x: hidden;
    max-width: 100%;
    .header-title {
        color: white;
        font-size: 22px;
        font-weight: 500;
    }

    .ant-menu-item-only-child,
    .ant-menu-submenu {
        padding-right: 60px;
        padding-left: 60px;

        .ant-menu-title-content {
            font-size: 16px;
        }
    }

    .public-content {
        background-color: #efefef;
        overflow: auto;
    }

    .main-menu {
        display: flex;
        // justify-content: space-evenly;
        gap: 30px;
        width: "30%";
        background: "transparent" !important;
        color: "white";

        .ant-menu-submenu-title {
            color: white;
        }
        .ant-menu-title-content {
            color: white !important;

            ::after {
                background-color: white;
            }
        }
    }

    .account {
        display: flex;
        width: 20%;
    }
}
