.public {
    width: 100vw;
    overflow-x: hidden;
    max-width: 100%;
    .header-title {
        color: white;
        font-size: 22px;
        font-weight: 500;
    }

    .ant-menu-item-only-child,
    .ant-menu-submenu {
        padding-right: 60px;
        padding-left: 60px;

        .ant-menu-title-content {
            font-size: 16px;
        }
    }

    .ant-layout {
        padding: 0 !important;
    }

    .public-content {
        background-color: #efefef;
        overflow: auto;
        height: 100%;
    }

    .main-menu {
        display: flex;
        // justify-content: space-evenly;
        gap: 30px;
        width: "30%";
        background: "transparent" !important;
        color: "white";

        .ant-menu-submenu-title {
            color: white;
        }
        .ant-menu-title-content {
            color: white !important;

            ::after {
                background-color: white;
            }
        }
    }

    .account {
        display: flex;
        width: 20%;
    }

    .footer {
        padding: 0px;
        margin-top: 0px;
        width: 100%;
        height: 100%;
        background-color: #363062;
        color: white;
        display: flex;
        .item-footer {
            font-size: 16px;
            .contact-content-title {
                margin-left: 10px;
            }
        }
        .right-footer {
            width: 40%;
            font-size: 22px;
            font-weight: 500;
            margin-left: 30px;
        }
        .between-footer {
            width: 30%;
        }
        .left-footer {
            font-size: 16px;
        }
    }

    .searchInput {
        display: flex;
        align-self: center;

        input {
            background-color: #818fb4;
            border-color: #f5e8c7;
            color: #fff;
        }

        button {
            color: #fff;
            border: none;
            background-color: #f5e8c7;
        }

        button.ant-btn {
            margin: 0;
        }
    }
    .footer {
        padding: 0px;
        margin-top: 0px;
        width: 100%;
        height: 100%;
        background-color: #363062;
        color: white;
        display: flex;
        .item-footer {
            font-size: 16px;
            .contact-content-title {
                margin-left: 10px;
            }
        }
        .right-footer {
            width: 40%;
            font-size: 22px;
            font-weight: 500;
            margin-left: 30px;
        }
        .between-footer {
            width: 30%;
        }
        .left-footer {
            font-size: 16px;
        }
    }
}
