.system-repair {
    .header-table-repair {
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;

        .ant-btn {
            width: unset;
            padding: 9px 11px;
            font-size: 14px;
            margin-top: 0;
        }

        .ant-input-group-wrapper {
            width: unset;

            .ant-input-group-addon {
                padding: 9px 11px;
            }

            .ant-input {
                padding: 9px 11px;
            }
        }
    }
}
