.account-password {
    &-content {
        padding: 50px 100px;

        button.ant-btn.ant-btn-primary {
            width: unset;
            background-color: var(--primary);
            border: 1px solid transparent;
            padding: 5px 11px;

            &:hover,
            &:focus {
                background-color: var(--primary) !important;
            }
        }
    }
}
