.register-wrap {
    width: 100%;
    height: 100%;

    .wrap-logo {
        background-color: #363062;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 30px;

            font-weight: 700;
            text-transform: uppercase;
            color: white;
        }
    }

    .form-register-wrap {
        height: 100%;
        padding: 20px 20px 0;

        h1 {
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
        }

        .otp-wrap {
            .otp-title {
                margin-top: 100px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                font-size: 16px;

                &-email {
                    font-weight: 600;
                }
            }

            .otp-input-wrap {
                margin-top: 50px;
                justify-content: center;
                column-gap: 10px;

                .otp-input {
                    width: 50px !important;
                    height: 50px !important;
                    border: 1px solid #d9d9d9;
                    border-radius: 8px;
                    outline: none;
                    font-size: 18px;
                    padding: 0;
                    box-sizing: border-box;

                    &:hover {
                        border-color: var(--primary);
                    }
                }
            }

            .otp-link {
                font-size: 14px;
                color: var(--info-color-info);
                cursor: pointer;
            }

            .otp-time {
                margin-top: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 calc((100% - 350px) / 2);
                row-gap: 8px;
            }
        }

        .error-message {
            color: red;
            font-size: 14px;
            text-align: center;
        }

        a {
            color: var(--primary);
            display: block;
            text-align: center;
        }
    }
}

@media (max-width: 991px) {
    .register-wrap {
        .form-register-wrap {
            padding: 15px 15px !important;
        }

        img {
            width: 200px !important;
            height: 200px !important;
        }

        h2,
        h1 {
            font-size: 20px !important;
            margin-top: 0 !important;
        }

        h1 {
            margin-bottom: 20px !important;
        }

        h2 {
            display: none !important;
        }
    }
}

@media (max-width: 480px) {
    .register-wrap {
        .form-register-wrap {
            .otp-wrap {
                .otp-input-wrap {
                    .otp-input {
                        width: 35px !important;
                        height: 35px !important;
                    }
                }

                .otp-time {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
