:root {
    --primary: #8b53f8;
    --info-color-info: #366ae2;
    --sidebar-color: #001529;

    --font-family: "ProximaNova", sans-serif;
}

iframe#webpack-dev-server-client-overlay {
    display: none;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

#root {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

// Scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
    height: 8px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.1);
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.1);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

// Font embedded
@font-face {
    font-family: ProximaNova;
    src: url("/assets/fonts/Proxima-Nova-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url("/assets/fonts/ProximaNova-Semibold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url("/assets/fonts/Proxima-Nova-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url("/assets/fonts/sofiapro-bold.woff");
    font-weight: 700;
}

// antd

.ant-spin {
    max-height: unset !important;
}

.ant-form-item-required {
    font-size: 16px;

    font-weight: 600;
}

label.ant-form-item-required {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &::after {
        display: none;
    }

    &::before {
        padding-left: 5px;
    }
}

.ant-form-item-control-input-content > input.ant-input {
    padding: 9px 11px;
    &:hover,
    &:focus,
    &:focus-within {
        border-color: var(--primary);
    }
}

.ant-input-affix-wrapper {
    padding: 9px 11px;
    &:hover,
    &:focus,
    &:focus-within {
        border-color: var(--primary);
    }
}

div.ant-select-focused > div.ant-select-selector {
    border-color: var(--primary) !important;
}

div.ant-select {
    height: unset;

    div.ant-select-selector {
        padding: 5px 11px !important;
        height: unset;
    }

    &:hover .ant-select-selector,
    &:focus .ant-select-selector {
        border-color: var(--primary) !important;
    }

    div.ant-select-selection-search {
        margin-inline-start: 0;
    }
}

div.ant-picker-focused.ant-picker {
    border-color: var(--primary);
}

div.ant-picker {
    width: 100%;
    padding: 9px 11px;

    &:hover,
    &:focus {
        border-color: var(--primary);
    }
}

button.ant-btn {
    padding: 9px 11px;
    width: 100%;
    // background-color: var(/--primary);
    // border: none;
    // outline: none;
    font-size: 16px;
    height: unset;
    font-weight: 600;
    margin-top: 20px;

    // &:hover,
    // &:focus {
    //     background-color: var(--primary) !important;
    //     opacity: 0.8;
    // }
}

button.ant-btn:disabled {
    background-color: rgba(0, 0, 0, 0.04) !important;
}
.ant-modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .button-detail {
        width: 100px;
    }
}

/* Define css class for global loading message to cover 
   screen during axios operations */

.loading-indicator:before {
    content: "";
    background: #000000cc;
    opacity: 0.2;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999999;
}

.loading-indicator:after {
    content: "Loading ...";
    position: fixed;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 1000000001;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
